<section id="site-intro" {{ if (and (.Site.Params.intro.hideWhenSingleColumn) (not (and .Page.IsHome .Site.Params.intro.alwaysOnHomepage))) }}class="hidden-single-column"{{ end }}>
  {{ with .Site.Params.intro.pic }}<a href="{{ "/" | relLangURL}}"><img src="{{ .src | relURL }}" class="{{ .shape }}" width="{{ .width }}" alt="{{ .alt }}" /></a>{{ end }}
  <header>
    {{ with .Site.Params.intro.header }}<h1>{{ . | safeHTML }}</h1>{{ end }}
  </header>
  <main>
    {{ with .Site.Params.intro.paragraph }}<p>{{ . | safeHTML }}</p> <p></p>{{ end }}
    <a class="twitter-timeline" data-lang="en" data-height="300" data-width="300" data-tweet-limit="1" href="https://twitter.com/SwissRN?ref_src=twsrc%5Etfw">Tweets by SwissRN</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  </main>
  {{ if or (.Site.Params.intro.rssIntro) (.Site.Params.intro.socialIntro) }}
    <footer>
      <ul class="socnet-icons">
        {{ if .Site.Params.intro.rssIntro }}{{ partial "rss-icon" . }}{{ end }}
        {{ if .Site.Params.intro.socialIntro }}{{ partial "socnet-icon" . }}{{ end }}
      </ul>
    </footer>
  {{ end }}
</section>


